
/* GLOBAL */

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

body {
  background-color: #c9c9c9;
  height: 3000px;
}


/* MOBILE FIRST */

      /* HEADER */

#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 200px;
  top: 0;
  align-items: center;
  justify-content: center;

  background-color: #dbdbdb;
  border-bottom: 2px solid #e5e1ff;
}

.nav-logo {
  width: 300px;
}

.nav-logo > img {
  width: 100%;
  height: auto;
}

#nav-bar > ul > li {
  font-size: 2rem;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
}

      /* MAIN */

#main {
  display: block;
  width: 100%;
  margin-top: 230px;
  text-align: center;
}

.main-title {
  margin: 50px;
  font-size: 3rem;
  font-weight: 900;
}

.container-text {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

      /* TEXT-1 */

.text-1 {
  display: flex;
  flex-direction: column;
}

.text-1 > h2 {
  font-size: 2.8rem;
  line-height: 1.8;
  font-weight: 700;
}

.text-1 > p {
  font-size: 1.8rem;
  line-height: 1.3;
}

      /* TEXT-2 */

.text-2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text-2 > h2 {
  font-size: 2.8rem;
  line-height: 1.8;
  font-weight: 700;
}

.text-2 > p {
  font-size: 1.8rem;
  line-height: 1.3;
}

      /* TEXT-3 */

.text-3 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text-3 > h2 {
  font-size: 2.8rem;
  line-height: 1.8;
  font-weight: 700;
}

.text-3 > p {
  font-size: 1.8rem;
  line-height: 1.3;
}

      /* YOUTUBE LINK */

iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 400px;
}

