
/* GLOBAL */

html {
  font-size: 10px;
}

body {
  background-color: #c9c9c9;
  height: 3000px;
}


/* MOBILE FIRST */

#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 310px;
  top: 0;
  align-items: center;
  justify-content: center;

  background-color: #d6caca;
  border-bottom: 2px solid #7c7272;
}

.nav-logo {
  width: 400px;
  margin-top: 50px
}

.nav-logo > img {
  width: 100%;
  height: auto;
}

#nav-bar > ul > li {
  font-size: 3rem;
  text-align: center;
  line-height: 40px;
}

#main {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 400px;
}