
/* GLOBAL */

html {
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  width: 100%;
}

body {
  background-color: #c9c9c9;
}


/* MOBILE FIRST */

      /* HEADER */

#header {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 200px;
  top: 0;
  align-items: center;
  justify-content: center;

  background-color: #dbdbdb;
  border-bottom: 2px solid #e5e1ff;
}

.nav-logo {
  width: 300px;
}

.nav-logo > img {
  width: 100%;
  height: auto;
}

#nav-bar > ul > li {
  font-size: 2rem;
  text-align: center;
  line-height: 30px;
  font-weight: 300;
}

#nav-bar > ul > li > a {
  text-decoration: none;
  color: #000000;
}

      /* MAIN */

#main {
  display: block;
  width: 100%;
  margin-top: 230px;
  text-align: center;
}

.main-title {
  margin: 50px;
  font-size: 3rem;
  font-weight: 900;
}

.container-text {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

      /* TEXT-1 */

.text-1 {
  display: flex;
  flex-direction: column;
}

.text-1 > h2 {
  font-size: 2.8rem;
  line-height: 1.8;
  font-weight: 700;
}

.text-1 > p {
  font-size: 1.8rem;
  line-height: 1.3;
}

      /* TEXT-2 */

.text-2 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text-2 > h2 {
  font-size: 2.8rem;
  line-height: 1.8;
  font-weight: 700;
}

.text-2 > p {
  font-size: 1.8rem;
  line-height: 1.3;
}

      /* TEXT-3 */

.text-3 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.text-3 > h2 {
  font-size: 2.8rem;
  line-height: 1.8;
  font-weight: 700;
}

.text-3 > p {
  font-size: 1.8rem;
  line-height: 1.3;
}

      /* YOUTUBE LINK */

iframe[src*=youtube] {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  height: 400px;
}


      /* FORM EMAIL */


.email-div > label {
  font-size: 2rem;
  line-height: 3;
}

#email {
  border: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 5px;
  width: 85%;
  max-width: 85%;
  height: 30px;
  border: 1px solid #8b8686;
}

#email::placeholder {
  font-size: 1.5rem;
}

#submit {
  margin-top: 10px;
  width: 150px;
  height: 30px;

  font-size: 1.5rem;
  font-weight: 700;
}

      /* AUTONOMOS */

.container-plans {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 20px;
}

.cont-autonomos {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 1px solid #000000;
  padding-bottom: 20px;
}

.cont-autonomos-header {
  font-size: 3rem;
  font-weight: 900;
  background-color: #b8b8b8;
  top: 0;
  padding: 20px 0;
}

.cont-autonomos-main {
  font-size: 1.5rem;
  margin: 10px auto;
  line-height: 2;
}

.list-autonomos > li:first-of-type {
  font-size: 2rem;
  font-weight: 700;
}

.button-autonomos {
  height: 50px;
  font-weight: 600;
  border: none;
  background-color: #630f0f;
  color: #ffffff;
  margin-top: 30px;
  padding: 0 20px;
}


      /* SRL */

.cont-srl {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 1px solid #000000;
  padding-bottom: 20px;
}

.cont-srl-header {
  font-size: 3rem;
  font-weight: 900;
  background-color: #b8b8b8;
  top: 0;
  padding: 20px 0;
}

.cont-srl-main {
  font-size: 1.5rem;
  margin: 10px auto;
  line-height: 2;
}

.list-srl > li:first-of-type {
  font-size: 2rem;
  font-weight: 700;
}

.button-srl {
  height: 50px;
  font-weight: 600;
  border: none;
  background-color: #630f0f;
  color: #ffffff;
  margin-top: 30px;
  padding: 0 20px;
}


      /* NEGOCIO */

.cont-negocio {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  border: 1px solid #000000;
  padding-bottom: 20px;
}

.cont-negocio-header {
  font-size: 3rem;
  font-weight: 900;
  background-color: #b8b8b8;
  top: 0;
  padding: 20px 0;
}

.cont-negocio-main {
  font-size: 1.5rem;
  margin: 10px auto;
  line-height: 2;
}

.list-negocio > li:first-of-type {
  font-size: 2rem;
  font-weight: 700;
}

.button-negocio {
  height: 50px;
  font-weight: 600;
  border: none;
  background-color: #630f0f;
  color: #ffffff;
  margin-top: 30px;
  padding: 0 20px;
}


      /* FOOTER */

.container {
  flex: 1;
}

.ft-legal {
  background-color: #b9b5b5;
  padding: 10px 5px;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 5px 10px;
  white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
  flex: 1; 
}

.ft-legal-list li a{
  text-decoration: none;
  color: #000000;
}





